@import "../pages.scss";

.landingpage {
  display: flex;
  justify-content: center;
  align-items: center;
  @include page-position;
  .landingpage__animation {
    width: 25rem;
    animation: shake 2s linear 0s infinite;
  }

  @keyframes shake {
    0%,
    7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%,
    100% {
      transform: rotateZ(0);
    }
  }
}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {
}
/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
  .landingpage {
    width: 75%;
    left: 25%;
    .landingpage__animation {
      width: 17.5rem;
    }
  }
}
