@import "../pages.scss";

.gameplan {
  @include page-position;
  .gameplan__gameplantabs {
    margin-left: 3.516%;
    margin-top: 7.52%;
  }
  .gameplan__moleculecontrol {
    height: 7.143%;
    margin-top: 4.102%;
    margin-left: 3.516%;
    margin-right: 3.516%;
  }
}

/* Large devices (desktops, 992px and down) */
@media screen and (max-width: 992px) {
  .gameplan {
    @include page-position;
    height: 98%;
    .gameplan__gameplantabs {
      margin-left: 3.516%;
      margin-top: 4.8125rem;
    }
  }
}

@media screen and (max-width: 768px) {
  gameplan {
    height: 91%;
    width: 75%;
    left: 25%;
    .gameplan__gameplantabs {
      margin-left: 3.516%;
      margin-top: 4.4rem;
    }
  }
}
/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
  .gameplan {
    height: 91%;
    width: 75%;
    left: 25%;
    .gameplan__gameplantabs {
      margin-left: 3.516%;
      margin-top: 4.4rem;
    }
  }
}
