@import "../pages.scss";

.levels {
  @include page-position;
  display: flex;
  justify-content: center;
  align-items: center;
  .levels__animation {
    width: 25rem;
    animation: rotate 5s ease-in-out 0s infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotateY(0deg);
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      transform: rotateY(360deg);
      opacity: 1;
    }
  }
}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {
}
/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
  .levels {
    width: 75%;
    left: 25%;
    .levels__animation {
      width: 17.5rem;
    }
  }
}
